// SECTION STYLES

body section.section {
    padding: 10em 0 12em;
    
    &:not(.dark-bg) {
        @media only screen and (max-width: 767px) {
        background-image: none;
        }   
    }
    
    @media only screen and (max-width: 991px) {
        padding: 6rem 0;
    }
    
    @media only screen and (max-width: 767px) {
        padding: 3rem 0;
    }
}

body section.section:first-of-type {
    padding-top: 15rem;
    
    @media only screen and (max-width: 991px) {
        padding: 9rem 0;
    }
    
    @media only screen and (max-width: 767px) {
        padding-top: 6rem;
    }
}

body section.section:last-of-type {
    padding-bottom: 8em;
}

section.dark-bg {
    color: $white;
}

.section:nth-child(odd) {
    margin-top: -6em;
    -webkit-clip-path: polygon(31% 6%, 61% 4%, 100% 16%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(31% 6%, 61% 4%, 100% 16%, 100% 100%, 0 100%, 0 0);
}

.section:nth-child(even):not(:first-of-type) {
    margin-top: -6em;
    -webkit-clip-path: polygon(36% 6%, 70% 11%, 100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(36% 6%, 70% 11%, 100% 0, 100% 100%, 0 100%, 0 15%);
}


//============ HOME PAGE ==============

section.home-title {
    background: $secondary;
    background-image: url(../img/cbb-background1.jpg);
    background-position: center;
    background-size: cover;
    
    h1 {
        font-size: 3em;
        margin: 16px;
        text-transform: uppercase;
    }
    
    h2 {
        color: $white;
        margin: 16px;
    }
    
    @media only screen and (max-width: 767px) {

    }
}

section.about-the-league {
    background: $white;
    background-image: url(../img/cbb-illustration4.jpg);
    background-position: 50% 70%;
}

section.get-involved {
    background: url(../img/cbb-illustration1.jpg);
    background-size: cover;
    
    @media only screen and (max-width: 767px) {
        background-size: auto;
    }
}

section.see-us-in-action {
    background: url(../img/cbb-illustration2.jpg) 50%;
    background-size: cover;
}

//============ JOIN PAGE ==============

section.skate-with-us {
    background: url(../img/cbb-background2.jpg);
    background-size: cover;
}

section.referees {
    background: url(../img/cbb-illustration3.jpg);
    background-size: cover;
}

section.nsos {
    background: url(../img/cbb-illustration5.jpg) 50% 30%;
    background-size: cover;
    
    @media only screen and (max-width: 767px) {
        background-size: auto;
    }
}

//============ DOCUMENTS PAGE ==============

body.documents {
    background: url(../img/cbb-background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    
    .intro {
        max-width: 650px;
        margin: 0 auto 3em;
    }
}

//============ ABOUT PAGE ==============

body.about {
    background: url(../img/cbb-background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    
    .center.aligned.column {
        margin: auto;
        max-width: 650px;
    }
}

//============ CALENDAR PAGE ==============

body.calendar {
    background: url(../img/cbb-background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    
    .center.aligned.column {
        margin: auto;
    }
    
    .ui.table {
        width: 100%;
    }
}

//============ CONTACT PAGE ==============

body.contact {
    background: url(../img/cbb-background1.jpg);
    background-attachment: fixed;
    background-size: cover;
    
    .center.aligned.column {
        margin: auto;
        max-width: 650px;
    }
    
    p.contact-message {
        font-size: 1.5em;
    }
}

//============ SPONSORS PAGE ==============

body.sponsors {
    background: url(../img/cbb-background2.jpg);
    background-attachment: fixed;
    background-size: cover;
}