// SECTION STYLES

section {
    padding: 10rem 0;
}

section:nth-child(even) {
    background: red;
}

section.dark-bg {
    color: $white;
}

section.home-title {
    background: url(../img/cbb-background1.jpg) center;
    background-size: cover;
    margin-top: 5rem;
    
    h1 {
        font-size: 3em;
        margin: 16px;
        text-transform: uppercase;
    }
    
    h2 {
        color: $white;
        margin: 16px;
    }
}

section.about-the-league {
    background: url(../img/cbb-illustration4.jpg) 50% 70%;
}

section.get-involved {
    background: url(../img/cbb-illustration1.jpg);
    background-size: cover;
}

section.see-us-in-action {
    background: url(../img/cbb-illustration2.jpg) no-repeat left;
    background-size: 50%;
}