//TYPOGRAPHY STYLES

h1,
h2,
h3,
h4 {
    color: $primary;
    font-family: $heading-font;
    font-weight: 600;
}

p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

a:hover {
    color: $primary;
}

.ui.button {
    background: $primary;
    border-radius: 30px;
    color: $white;
}

.ui.button:hover,
.ui.button:active,
.ui.button:focus {
    background: darken($primary, 10%);
    color: $white;
}